body {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container div {
    /* background-image: url("../images/grantchirpus.jpg"); */
}

.container {

    display: none;
    grid-template-rows: repeat(4, 105px);
    grid-template-columns: repeat(3, 105px);
    justify-content: center;
}
#start:hover {
  opacity: 0.3;
}

.restart:hover {
  opacity: 0.3;
}

.buttoncontainer button{
    font-weight: 900;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: #E65F12;
    border: 3px solid #9C3F0D;
    color: white;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}
img {
    border-radius: 10%;
}

.card {
  border: solid white 2px;
  border-radius: 10%;
}

.card:hover div {
    -webkit-filter: grayscale(100%);

}
.card1 {
    background-image: url("../images/adam.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card2 {
    background-image: url("../images/yasmine.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card3 {
    background-image: url("../images/kim.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card4 {
    background-image: url("../images/christian.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card5 {
    background-image: url("../images/lyra.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}
.card6 {
    background-image: url("../images/julie.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.hide {
    display: none;
}

@media only screen and (min-width:1200px){
    img {
        min-width: 200px;
        max-height:200px;
        border-radius: 10%;

    }
    .container {
        display: none;
        grid-template-rows: repeat(2, 205px);
        grid-template-columns: repeat(6, 205px);
        justify-content: center;
    }
}
