body {
    background-image: url("../images/background.jpg")
}

.container div {
    /* background-image: url("../images/grantchirpus.jpg"); */
}

.container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}

.buttoncontainer button{
    width: 100px;
    height: 100px; 
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.card1 {
    background-image: url("../images/adam.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card2 {
    background-image: url("../images/yasmine.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card3 {
    background-image: url("../images/kim.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card4 {
    background-image: url("../images/christian.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.card5 {
    background-image: url("../images/lyra.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}
.card6 {
    background-image: url("../images/julie.jpg");
    width: 100px;
    height: 100px;
    border-radius: 5%;
}